


// home-content.scss



#featuredSlider {
	z-index: 0;

	.bottom-controls {
		position: absolute;
	    left: 0;
	    right: 0;
	    margin: -50px auto 0;

		.carousel-control {
			position: relative;
			display: inline-block;
			top: 0;
		    bottom: 0;
		    right: 0;
		    left: 0;
		    font-size: 20px;
		    color: #fff;
		    text-align: center;
		    text-shadow: 0 1px 2px rgba(0,0,0,.6);
		    background-color: rgba(0,0,0,0);
		    opacity: .6;
		    display: inline-block;
		    width: 30px;
		    z-index: 30;
		    background: transparent;

		    &:hover {
		    	opacity: 0.8;
		    	color: $blue;
		    }
		}		

		a.left.carousel-control {
			position: relative;
			display: inline-block;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    left: 0;
		}
		a.right.carousel-control {
			position: relative;
			display: inline-block;
			top: 0;
		    bottom: 0;
		    right: 0;
		    left: 0;
		}

		i.fa.fa-angle-right, i.fa.fa-angle-left {
		    font-size: 27px;
		    margin: 4px 0;

		    &:hover {
		    	font-size: 32px;
		    	margin: 0;
		    }
		}

		.carousel-indicators {
			position: relative;
			margin: 0;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			bottom: 10px;
			width: 90px;
    		display: inline-block
		}

		.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
		    width: 22px;
		    height: 22px;
		    margin-top: -10px;
		    font-size: 22px;
		}

		.carousel-indicators li {
	        width: 15px;
		    height: 15px;
		    margin: 2px 2px;
		    border: 2px solid #ccc;
		    opacity: 0.6;

		    &:hover {
		    	opacity: 0.8;
		    	width: 17px;
		    	height: 17px;
		    	margin: 1px;
		    	border-color: #7ED321;
		    }

		    &.active {
		    	background: transparent;
			    border-color: #7ED321 !important;
		    }
		}
	}

	.greenButton, .blueButton {
		display: inline-block;


		@media screen and (max-width: 515px) {
			width: 90%;
		}
	}

	.greenButton {
		margin-right: 20px;

		@media screen and (max-width: 515px) {
			margin-right: 0;
		}

		a {
			color: #fff;
			background: #7ed321;
			padding: 10px 20px;
			border-radius: 6px;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
			font-size: 16px;
			border-right: 2px solid #67b116;
			border-bottom: 2px solid #67b116;
			box-shadow: 2px 2px 2px #333;

		@media screen and (max-width: 515px) {
			width: 100%;
			display: inline-block;
			padding: 14px 20px;
		}

		    &:hover {
		    	text-decoration: none;
		    	background: #78ca1f;
		    }

		    &:focus, &:active {
		    	text-decoration: none;
		    }

		    i.fa.fa-futbol-o, i.fa.fa-quote-right, i.fa.fa-child, i.fa.fa-users {
			    margin-left: 10px;
			    vertical-align: middle;
			    font-size: 22px;
			}
		}
	}

	.blueButton {

		a {
		    color: #fff;
		    background: $blue;
		    padding: 10px 20px;
		    border-radius: 6px;
		    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
		    font-size: 16px;
		    box-shadow: 2px 2px 2px #333;
		    border-right: 2px solid #2986d1;
		    border-bottom: 2px solid #2986d1;

		    @media screen and (max-width: 515px) {
				width: 100%;
				display: inline-block;
				padding: 16px 20px;
			}

		    &:hover {
		    	text-decoration: none;
		    	background: #3499eb;
		    }

		    &:focus, &:active {
		    	text-decoration: none;
		    }

		    img.paypal {
				width: 62px;
	    		margin-left: 8px;
		    }
		}

		@media screen and (max-width: 515px) {
			margin-top: 5px;
		}
	}
		
	p.other {
		display: inline-block;
		color: #cbcbcb;
		font-size: 14px;
		-webkit-transition-duration: 0.25s;
		transition-duration: 0.25s;
		-moz-transition-property: all 0.25s ease-in-out;
		-ms-transition-property: all 0.25s ease-in-out;
		-o-transition-property: all 0.25s ease-in-out;
		-webkit-transition-property: all 0.25s ease-in-out;
		transition-property: all 0.25s ease-in-out;
		-moz-transition-timing-function: ease-in-out;
		-o-transition-timing-function: ease-in-out;
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		margin: 30px 25% 0;

		&:hover {
			text-decoration: none;
			font-size: 16px;
			color: #fff;
		}

		@media screen and (max-width: 650px) {
			margin: 30px 0 0;
		}

		@media screen and (max-width: 515px) {
			margin-top: 3px;
		}

		i.fa.fa-caret-right {
		    margin-left: 7px;
		    font-size: 21px;
		    vertical-align: middle;
		}
	}
	

	/******************** SLIDE 1 ********************/

	.slide-1 {
		background: url('images/slide1.jpg') no-repeat;
		background-size: cover;
		background-position: top center;
		font-family: $kgHappy;
		height: 700px;

		@media screen and (max-width: 1600px) {
			height: 600px;
		}
		@media screen and (max-width: 1400px) {
			height: 550px;
		}
		@media screen and (max-width: 1300px) {
			height: 500px;
		}

		.carousel-caption {
		    top: 90px;

		    @media screen and (max-width: 940px) {
				width: 100%;
				right: 0;
				left: 0;
		    }

		    @media screen and (max-width: 515px) {
		    	top: 55px;
		    }

		    h2 {
			    text-shadow: 3px 3px 0 #000, 4px 4px 4px #555;
				line-height: 50px;
				width: 570px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 40px;

				@media screen and (max-width: 600px) {
					font-size: 24px;
					line-height: 40px;
					width: 90%;
				}

				@media screen and (max-width: 515px) {
					margin-bottom: 35px;
				}

				&::selection {
				  background: #FEC53A; /* WebKit/Blink Browsers */
				  opacity: 1;
				}

				&::-moz-selection {
				  background: #FEC53A; /* Gecko Browsers */
				  opacity: 1;
				}
			}
		}
	}
	/******************** END SLIDE 1 ********************/



	/******************** SLIDE 2 ********************/

	.slide-2 {
		background: url('images/slide2.jpg') no-repeat;
		background-size: cover;
		background-position: bottom center;
		font-family: $kgHappy;
		height: 700px;

		@media screen and (max-width: 1600px) {
			height: 600px;
		}
		@media screen and (max-width: 1400px) {
			height: 550px;
		}
		@media screen and (max-width: 1300px) {
			height: 500px;
		}

		.carousel-caption {
		    top: 0;
		    right: 0;
		    left: 0;

		    @media screen and (max-width: 940px) {
				width: 100%;
				right: 0;
				left: 0;
		    }
		}

		h2 {
			text-shadow: 3px 3px 0 #000, 4px 4px 4px #555;
			line-height: 50px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: 36px;
			color: #f5f5f5;

			@media screen and (max-width: 940px) {
				width: 90%;
    			font-size: 32px;
			}

			@media screen and (max-width: 940px) {
				margin-top: 5px;
			}

			@media screen and (max-width: 870px) {
				margin-top: 0px;
				margin-bottom: 10px;
			}

			@media screen and (max-width: 700px) {
				width: 95%;
				font-size: 28px;
				line-height: 40px;
			}

			@media screen and (max-width: 480px) {
				font-size: 27px;
			}

			@media screen and (max-width: 400px) {
				margin: 65px auto 45px;
			}
		}

		p {
			width: 850px;
		    margin: 0 auto 35px;
		    font-size: 19px;
		    line-height: 32px;
		    text-shadow: 3px 3px 0 #000, 4px 4px 4px #555;
		    color: #f5f5f5;

		    @media screen and (max-width: 940px) {
		    	width: 70%;
    			font-size: 17px;
		    }

		    @media screen and (max-width: 870px) {
		    	margin-bottom: 15px;
		    }

		    @media screen and (max-width: 700px) {
				width: 90%;
				font-size: 15px;
			}

			@media screen and (max-width: 480px) {
				font-size: 15px;
			}

			@media screen and (max-width: 400px) {
				display: none;
			}
		}

		a {
			position: relative;

			&:hover span.playButton {
		    	opacity: 1.0;
		    	height: 70px;
		    	width: 70px;
		    }

		    &:hover span.playButton:before {
		    	top: 7px;
		    	left: 21px;
		    }

			span.playButton {
			    position: absolute;
			    border-radius: 100%;
			    height: 68px;
			    width: 68px;
			    background: #000;
			    top: -23px;
			    left: 136px;
			    border: 4px solid #fff;
			    opacity: 0.7;
				-webkit-transition-duration: 0.25s;
				transition-duration: 0.25s;
				-moz-transition-property: all 0.25s ease-in-out;
				-ms-transition-property: all 0.25s ease-in-out;
				-o-transition-property: all 0.25s ease-in-out;
				-webkit-transition-property: all 0.25s ease-in-out;
				transition-property: all 0.25s ease-in-out;
				-moz-transition-timing-function: ease-in-out;
				-o-transition-timing-function: ease-in-out;
				-webkit-transition-timing-function: ease-in-out;
				transition-timing-function: ease-in-out;

				@media screen and (max-width: 480px) {
					left: 115px;
				}

				@media screen and (max-width: 400px) {
					left: 100px;
				}

				&:before {
					content: "\f04b";
					font-family: FontAwesome;
					color: #fff;
					font-size: 33px;
					position: absolute;
					left: 20px;
					top: 6px;
					-webkit-transition-duration: 0.25s;
					transition-duration: 0.25s;
					-moz-transition-property: all 0.25s ease-in-out;
					-ms-transition-property: all 0.25s ease-in-out;
					-o-transition-property: all 0.25s ease-in-out;
					-webkit-transition-property: all 0.25s ease-in-out;
					transition-property: all 0.25s ease-in-out;
					-moz-transition-timing-function: ease-in-out;
					-o-transition-timing-function: ease-in-out;
					-webkit-transition-timing-function: ease-in-out;
					transition-timing-function: ease-in-out;
				}
			}

			img {
				width: 350px;
				margin: 0 auto;
				border: 5px #fffeee solid;
	    		border-radius: 2px;
	    		box-shadow: 4px 4px 4px rgba(0,0,0,0.4);

	    		@media screen and (max-width: 480px) {
					width: 300px;
				}

				@media screen and (max-width: 400px) {
					width: 280px;
				}
			}
		}

		a.link {
		    display: block;
		    margin: 15px 0px 0;
		    color: #cbcbcb;
			-webkit-transition-duration: 0.25s;
			transition-duration: 0.25s;
			-moz-transition-property: all 0.25s ease-in-out;
			-ms-transition-property: all 0.25s ease-in-out;
			-o-transition-property: all 0.25s ease-in-out;
			-webkit-transition-property: all 0.25s ease-in-out;
			transition-property: all 0.25s ease-in-out;
			-moz-transition-timing-function: ease-in-out;
			-o-transition-timing-function: ease-in-out;
			-webkit-transition-timing-function: ease-in-out;
			transition-timing-function: ease-in-out;

		    &:hover {
		    	font-size: 15px;
		    	color: #fff;
		    	text-decoration: none;
		    }

		    i.fa.fa-caret-right {
			    margin-left: 7px;
			    font-size: 21px;
			    vertical-align: middle;
			}
		}
	}
	/******************** END SLIDE 2 ********************/

	/******************** SLIDE 3 ********************/

	.slide-3 {
		background: url('images/slide3.jpg') no-repeat;
		background-size: cover;
		background-position: bottom center;
		font-family: $kgHappy;
		height: 700px;

		@media screen and (max-width: 1600px) {
			height: 600px;
		}
		@media screen and (max-width: 1400px) {
			height: 550px;
		}
		@media screen and (max-width: 1300px) {
			height: 500px;
		}
		@media screen and (max-width: 950px) {
			background: url('images/slide3-2.jpg') no-repeat;
			background-size: cover;
			background-position: bottom center;

		}

		.carousel-caption {
		    top: 0;
		    right: 0;
		    left: 0;

		    @media screen and (max-width: 940px) {
				width: 100%;
				right: 0;
				left: 0;
		    }
		}

		.right-side {
			margin-left: 42%;

			@media screen and (max-width: 950px) {
				margin: 0;
			}

			p.quote {
			    font-size: 24px;
			    width: 522px;
			    margin: 40px auto 30px;
			    line-height: 42px;
			    text-shadow: 3px 3px 0 #000, 4px 4px 4px #555;

			    @media screen and (max-width: 600px) {
			    	width: 95%;
			    	font-size: 22px;
			    	line-height: 40px;
			    	margin-top: 20px;
			    }

			    @media screen and (max-width: 450px) {
			    	font-size: 18px;
			    	line-height: 30px;
			    	width: 90%;
			    }
			}

			p.name {
			    font-size: 23px;
			    text-shadow: 3px 3px 0 #000, 4px 4px 4px #555;
			    margin-bottom: 0;

			    @media screen and (max-width: 450px) {
			    	font-size: 20px;
			    }
			}

			p.location {
			    margin-left: 48px;
			    margin-top: -3px;
			    margin-bottom: 60px;
			    text-shadow: 3px 3px 0 #000, 4px 4px 4px #555;

			    @media screen and (max-width: 600px) {
			    	margin-bottom: 40px;
			    }
			}

			.greenButton a {
				margin-right: 0;
				padding: 15px 26px;
			}
		}

		p.details {
		    font-family: 'Source Sans Pro', sans-serif;
		    font-size: 18px;
		    margin: 45px 0 0;
		    color: #bbb;
		    text-shadow: 1px 1px 0 #000;
		    font-style: italic;

		    @media screen and (max-width: 770px) {
		    	width: 90%;
		    	margin: 30px auto 0;
		    }

		    @media screen and (max-width: 450px) {
		    	font-size: 15px;
		    }

		    @media screen and (max-width: 340px) {
		    	margin: 15px auto 0;
		    }
		}

	}
	/******************** END SLIDE 3 ********************/

	/******************** SLIDE 4 ********************/

	.slide-4 {
		background: url('images/slide4.jpg') no-repeat;
		background-size: cover;
		background-position: bottom center;
		font-family: $kgHappy;
		height: 700px;

		@media screen and (max-width: 1600px) {
			height: 600px;
		}
		@media screen and (max-width: 1400px) {
			height: 550px;
		}
		@media screen and (max-width: 1300px) {
			height: 500px;
		}

		.carousel-caption {
		    top: 0;
		    right: 0;
		    left: 0;

		    @media screen and (max-width: 940px) {
				width: 100%;
				right: 0;
				left: 0;
		    }

		    h2 {
		    	text-shadow: 3px 3px 0 #000, 4px 4px 4px #555;
		    	margin: 50px auto 60px;
    			font-size: 26px;
    			color: #ddd;

    			@media screen and (max-width: 1000px) {
    				width: 90%;
    				margin: 30px auto 50px;
    				line-height: 36px;
    			}

    			@media screen and (max-width: 560px) {
    				font-size: 23px;
    				margin: 10px auto 30px;
    			}

    			@media screen and (max-width: 400px) {
    				font-size: 20px;
    			}
		    }

		    .greenButton a {
				margin-right: 0;
				padding: 15px 26px;
			}

		    .greenButton {
		    	margin-right: 0;

		    	 & span.large {

			    	@media screen and (max-width: 400px) {
			    		display: none;
			    	}
			    }
		    }

		    h3 {
		    	text-shadow: 3px 3px 0 #000, 4px 4px 4px #555;
			    font-size: 21px;
			    margin-top: 60px;
			    color: #ddd;

    			@media screen and (max-width: 1000px) {
    				width: 90%;
    				margin: 35px auto 10px;
    				font-size: 16px;
    				line-height: 27px;
    			}

    			@media screen and (max-width: 560px) {
    				margin: 15px auto 0;
    			}

    			@media screen and (max-width: 500px) {
    				margin: 5px auto 0;
    			}

    			@media screen and (max-width: 400px) {
    				margin: 13px auto 0;
					font-size: 14px;
					line-height: 22px;
    			}
		    }

		    .partners {

			    img {
				    width: 100px;
				    margin: 20px 6px;
				    border-radius: 5px;
				    opacity: 0.8;
				    box-shadow: 2px 2px 0 #000, 4px 4px 4px rgba(0,0,0,0.1);
				    box-shadow: 3px 3px 2px rgba(0,0,0,0.3);

				    &.large {

				    	@media screen and (max-width: 500px) {
				    		display: none;
				    	}
				    }

				    @media screen and (max-width: 720px) {
				    	width: 70px;
				    	margin: 20px 3px;
				    }

				    &:hover {
				    	opacity: 1.0;
				    	width: 106px;
				    	margin: 17px 3px;

				    	@media screen and (max-width: 720px) {
					    	width: 76px;
					    	margin: 17px 0;
					    }
				    }
				}
			}

			h4 {
			    margin-top: 4px;
			    color: #cbcbcb;
			    font-size: 14px;
			    padding: 0px 16px;
			    display: inline-block;
			    -webkit-transition-duration: 0.25s;
				transition-duration: 0.25s;
				-moz-transition-property: all 0.25s ease-in-out;
				-ms-transition-property: all 0.25s ease-in-out;
				-o-transition-property: all 0.25s ease-in-out;
				-webkit-transition-property: all 0.25s ease-in-out;
				transition-property: all 0.25s ease-in-out;
				-moz-transition-timing-function: ease-in-out;
				-o-transition-timing-function: ease-in-out;
				-webkit-transition-timing-function: ease-in-out;
				transition-timing-function: ease-in-out;

			    &:hover {
			    	color: #fff;
			    	text-decoration: none;
			    	font-size: 16px;
			    }

			    i.fa.fa-caret-right {
				    margin-left: 7px;
				    font-size: 21px;
				    vertical-align: middle;
				}
			}
		}

	}

	/******************** END SLIDE 4 ********************/
}
/******************** END FEATURED SLIDER SECTION ********************/



/******************** MISSION SECTION ********************/
	.mission {
		background: #fff;

		.inner {
			max-width: 1100px;
			padding: 80px 0 60px;
			margin: 0 auto;

			h2 {
				font-family: 'kghappysolid', sans-serif;
				font-size: 38px;
				text-shadow: -2px 2px 0 #dcdcdc;
				margin: 0 0 40px;
			}

			p {
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 17px;
				font-weight: 300;
				line-height: 30px;
				width: 70%;
				margin: 0 auto 35px;

				.bold {
					font-weight: 600;
				}
			}

			a {

				&:hover {
					text-decoration: none;
				}

				p.more {
					margin-bottom: 0;
					font-family: 'kghappysolid', sans-serif;
					color: #fff;
					text-shadow: -1px 1px 0 #dcdcdc;
					font-size: 16px;
					display: inline-block;
					width: auto;
					-webkit-transition-duration: 0.25s;
					transition-duration: 0.25s;
					-moz-transition-property: all 0.25s ease-in-out;
					-ms-transition-property: all 0.25s ease-in-out;
					-o-transition-property: all 0.25s ease-in-out;
					-webkit-transition-property: all 0.25s ease-in-out;
					transition-property: all 0.25s ease-in-out;
					-moz-transition-timing-function: ease-in-out;
					-o-transition-timing-function: ease-in-out;
					-webkit-transition-timing-function: ease-in-out;
					transition-timing-function: ease-in-out;
					background: #7ED321;
					padding: 7px 15px;
					text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
					border-radius: 4px;
					border: 1px solid #bbb;
					box-shadow: 0 1px 1px #cbcbcb;

					&:hover {
						text-decoration: none;
						background: #75cc16;
					}

					i.fa.fa-caret-right {
						margin-left: 8px;
						font-size: 20px;
						vertical-align: middle;
					}
				}
			}
		}
	}
/******************** END MISSION SECTION ********************/



/******************** LEARN MORE SECTION ********************/

.learn-more-section {
	background: #fff;

	@media screen and (max-width: 800px) {
		padding-bottom: 30px;
	}

	@media screen and (max-width: 670px) {
		padding: 0 30px 30px;
	}

	.inner {
		max-width: 660px;
		margin: 0 auto 80px;

		a.founder, a.stories, a.involved {
			height: 250px;
			width: 200px;
			position: relative;
			margin: 0 10px 20px 10px;
			box-shadow: 2px 2px 1px rgba(0,0,0,0.4);
			float: left;
			z-index: 0;

			@media screen and (max-width: 670px) {
				width: 100%;
				margin: 10px 0;
			}

	    	&:hover {

	    		&:after {
	    			background: rgba(0,0,0,0.65);
	    			z-index: 2;

	    			@media screen and (max-width: 670px) {
	    				background: rgba(0, 0, 0, 0.15);
	    			}
	    		}

	    		& img.markRolison, img.pivotalDirections, img.getInvolved {
	    			display: inline-block;
	    			z-index: 3;
	    			position: relative;
	    		}

	    		& p.details {
	    			display: block;
	    			z-index: 5;

	    			@media screen and (max-width: 670px) {
	    				display: none;
	    			}
	    		}

	    		& p.learn-more-button {
	    			display: inline-block;
	    			z-index: 3;
	    			position: relative;
	    			margin-top: -3px;

	    			@media screen and (max-width: 670px) {
	    				display: none;
	    			}

	    			&:hover {
						background: #75cc16;
					}
	    		}

	    		& p.bottom-header {
	    			bottom: 148px;

	    			@media screen and (max-width: 670px) {
	    				bottom: 10px;
	    			}
	    		}
	    	}

			&:hover, &:focus, &:active {
				text-decoration: none;
			}

			&:after {
				content: '';
				top: 0;
				left: 0;
				-webkit-transition: .08s linear background;
				transition: .08s linear background;
				border-radius: 2px;
				height: 250px;
				width: 200px;
				content: '';
				background: rgba(0, 0, 0, 0.15);
				position: absolute;
				z-index: 1;

				@media screen and (max-width: 670px) {
					width: 100%;
					height: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}

		a.founder {
			background: url('images/videoThumb-promo2012.jpg') no-repeat;
			background-size: cover;
			background-position: center center;

			&:hover {
				background-size: 250%;

				@media screen and (max-width: 670px) {
    				background-size: cover;
    			}
			}

			@media screen and (max-width: 670px) {
				background-position: top center;
			}
		}

		a.stories {
			background: url('images/stories.jpg') no-repeat;
			background-size: cover;
			background-position: center center;

			&:hover {
				background-size: 180%;

				@media screen and (max-width: 670px) {
    				background-size: cover;
    			}
			}

			@media screen and (max-width: 670px) {
				background-position: center -140px;
			}

			@media screen and (max-width: 380px) {
				background-position: center -65px;
			}
		}

		a.involved {
			background: url('images/involved.jpg') no-repeat;
			background-size: cover;
			background-position: center center;

			&:hover {
				background-size: 180%;

				@media screen and (max-width: 670px) {
    				background-size: cover;
    			}
			}

			@media screen and (max-width: 670px) {
				background-position: center top;
			}

			@media screen and (max-width: 380px) {
				background-position: center top;
			}
		}

		img.markRolison, img.pivotalDirections, img.getInvolved {
			display: none;
		    border-radius: 100px;
		    border: 3px solid #f5f5f5;
		    width: 80px;
		    margin-top: 3px;
		    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		}

		p.details {
			display: none;
			text-align: center;
			color: #fff;
			padding: 20px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			position: absolute;
			bottom: 20px;
			font-size: 16px;
			text-shadow: 3px 3px 3px #000;
		}

		p.learn-more-button {
			display: none;
		    color: #fff;
		    background: #7ED321;
		    padding: 3px 9px;
		    text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
		    font-family: 'kghappysolid', sans-serif;
		    font-size: 13px;
		    border-radius: 3px;
		    font-family: 'Source Sans Pro', sans-serif;
		    font-weight: 700;
		    border: 1px solid #81b513;
		}

		p.bottom-header {
			text-align: center;
			color: #fff;
			text-shadow: 1px 1px 1px #000 !important;
			position: absolute;
			width: 100%;
			bottom: 0px;
			z-index: 4;
			line-height: 25px;
			font-family: 'kghappysolid', sans-serif;
			font-size: 20px;

			@media screen and (max-width: 670px) {
				bottom: 10px;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}

/******************** END LEARN MORE SECTION ********************/








