


// impact.scss



.impact-section {
    padding: 20px 0 55px;
    background: url("images/waves.png") repeat;
    box-shadow: 0 1px 2px #2c87d0, 0 -1px 2px #2c87d0;
	
	.inner {
		max-width: 950px;
		margin: 0 auto;

		h2 {
			color: #444;
			text-align: center;
			font-family: 'kghappysolid', sans-serif;
			text-shadow: 2px 2px 0 #2778b9;
			text-shadow: 1px 1px 0 #236DA0;
			font-size: 40px;

			@media screen and (max-width: 1000px) {
				margin-bottom: 30px;
			}
		}

		p.intro {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 17px;
			font-weight: 300;
			line-height: 30px;
			width: 90%;
			margin: 20px auto 0;
			text-align: center;

			@media screen and (max-width: 500px) {
				width: 75%;
			}
		}

		.stats-section {
			float: left;
			display: inline-block;

			@media screen and (max-width: 1000px) {
				float: none;
				width: 526px;
				text-align: center;
				margin: 30px auto 0;
				display: block;
			}

			@media screen and (max-width: 540px) {
				width: 189px;
			}

			.stat {
				margin-bottom: 0px;
				position: relative;
				background: #333;
				display: inline-block;
				float: left;
				clear: both;
				border-radius: 5px;
				padding: 10px 16px;
				box-shadow: 2px 2px 1px #2778b9;
				box-shadow: none;
				background: #555;
				border: 1px solid #000;
				background: #A4E617;
				border: none;
				border-right: 1px solid #84ba0f;
				border-bottom: 1px solid #84ba0f;
				border: none;
				background: transparent;
				border-radius: 0;
				padding: 20px 0 20px 0;
				margin: 0;

			    h3 {
					font-family: 'kghappysolid', sans-serif;
					font-size: 46px;
					margin: 0;
					color: #fff;
					text-shadow: 2px 2px 0 #236da9;
			    }

			    p {
					color: #A4E617;
				    font-family: 'Source Sans Pro', sans-serif;
				    font-size: 17px;
				    margin: 0;
				    font-weight: 700;
				    text-shadow: 1px 1px 0 #2c87d0;
				}
			}

			.pounds {
				margin-top: 30px;

				@media screen and (max-width: 1000px) {
					width: 166px;
					clear: none;
					margin-right: 50px;
					margin-top: 0;
				}

				@media screen and (max-width: 540px) {
					clear: both;
					margin-right: 0;
				}
			}

			.kids {
				margin-top: 0px;

				@media screen and (max-width: 1000px) {
					width: 187px;
					clear: none;
					margin-right: 50px;
				}

				@media screen and (max-width: 540px) {
					clear: both;
					margin-right: 0;
				}
			}

			.countries {
				margin-top: 0px;

				@media screen and (max-width: 1000px) {
					width: 73px;
					clear: none;
				}

				@media screen and (max-width: 540px) {
					clear: both;
					margin-right: 0;
				}
			}
		}

		.data-section {
		    width: 660px;
		    float: right;
		    margin-top: 20px;
			margin-left: 65px;

			@media screen and (max-width: 1000px) {
				float: none;
				margin-left: auto;
    			margin-right: auto;
			}

			@media screen and (max-width: 660px) {
				width: 100%;
			}

			.buttons {
			    margin-left: 143px;

			    @media screen and (max-width: 1000px) {
			    	margin-left: 0;
			    	text-align: center;
			    }
			}

			.nav-tabs>li>a {
				border: none;
				border-radius: 30px;
				padding: 7px 12px;
				color: #fff;
				font-family: 'kghappysolid', sans-serif;
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
				background: rgba(35, 109, 169, 0.2);
				border: 1px solid rgba(35, 109, 169, 0.1);
				box-shadow: inset 0px 0px 17px rgba(0,0,0,0.15);
				width: 80px;

				&:hover {
					background: rgba(35, 109, 169, 0.3);
				}
			}

		    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
			    border: none;
			    border-radius: 30px;
			    padding: 7px 12px;
			    color: #fff;
			    font-family: 'kghappysolid', sans-serif;
			    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
			    background: #a4e617;
			    border-right: 1px solid #84ba0f;
			    border-bottom: 2px solid #84ba0f;
			    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
			}

		    ul.nav.nav-tabs {
				border: none;
				display: inline-block;
				margin: 0 auto;
				text-align: center;
				margin-bottom: 30px;

				@media screen and (max-width: 1000px) {
					margin-bottom: 40px;
				}

				li {
				    float: none;
				    display: inline-block;
				}
			}

			.map {
				position: relative;
				width: 100%;
				background: url("images/map6.png") no-repeat;
				background-size: 100%;
				background-position: center center;
				height: 340px;

				@media screen and (max-width: 660px) {
					background: url('images/mapMobile.png') no-repeat;
					background-size: 90%;
    				background-position: center center;
				}

				@media screen and (max-width: 600px) {
					height: 294px;
				}

				@media screen and (max-width: 500px) {
					height: 247px;
				}

				@media screen and (max-width: 400px) {
					height: 200px;
				}

				.markers {
					position: absolute;
					width: 660px;
					height: 340px;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;

					@media screen and (max-width: 660px) {
						display: none;
					}

					span.location {
						width: 20px;
						height: 30px;
						background: url("images/mapMarker.png") no-repeat;
						background-size: 100%;
						background-position: center center;
						padding: 15px 10px;
						position: absolute;

						&:hover .location-box {
							visibility: visible;
							text-decoration: none;
							border-color: #888;
						}
					}

					span.bostonMA {
						top: 71px;
						left: 149px;
					}

					span.brazil {
						top: 208px;
						left: 181px;
					}

					span.california {
						top: 83px;
						left: 31px;
					}

					span.cambodia {
						top: 141px;
						right: 105px;
					}

					span.chicagoIL {
						top: 52px;
						left: 135px;
					}

					span.dominicanRepublic {
						top: 127px;
						left: 158px;

						.location-box {
							min-width: 223px;
						}
					}

					span.elSalvador {
						top: 134px;
						left: 85px;
					}

					span.ethiopia {
						top: 159px;
						left: 369px;
					}

					span.grenada {
						top: 155px;
	    				left: 168px;
					}

					span.guam {
						top: 143px;
						right: 49px;
					}

					span.guatemala {
						top: 129px;
						left: 65px;
					}

					span.haiti {
						top: 132px;
						left: 139px;
					}

					span.india {
						top: 135px;
						right: 166px;
					}

					span.jamaica {
						top: 134px;
					    left: 118px;
					}

					span.kenya {
						top: 178px;
						left: 386px;
					}

					span.liberia {
						top: 156px;
						left: 268px;
					}

					span.milwaukeeWI {
						top: 48px;
						left: 118px;

						.location-box {
							min-width: 184px;
						}
					}

					span.morocco {
						top: 106px;
						left: 274px;
					}

					span.nicaragua {
						top: 146px;
						left: 101px;
					}

					span.nigeria {
						top: 152px;
						left: 303px;
					}

					span.philadelphiaPA {
						top: 80px;
						left: 127px;

						.location-box {
							min-width: 202px;
						}
					}

					span.philippines {
						top: 142px;
						right: 71px;
					}

					span.puertoRico {
						top: 126px;
						left: 177px;
					}

					span.queensNY {
						top: 66px;
						left: 169px;

					}

					span.redLakeMN {
						top: 40px;
						left: 100px;
					}

					span.romania {
						top: 60px;
						left: 343px;
					}

					span.rwanda {
						top: 192px;
						left: 345px;
					}

					span.tanzania {
						top: 198px;
						left: 369px;
					}

					span.uganda {
						top: 160px;
						left: 346px;
					}

					span.ukraine {
						top: 56px;
						left: 362px;
					}

					span.unitedArabEmirates {
						top: 115px;
						left: 408px;

						.location-box {
							min-width: 229px;
						}
					}

					span.whiteriverAZ {
						top: 91px;
						left: 52px;

						.location-box {
							min-width: 186px;
						}
					}

					span.zambia {
						top: 221px;
						left: 355px;

					}

					.location-box {
						color: #333;
						visibility: hidden;
						text-transform: uppercase;
						top: -48px;
						left: -13px;
						padding: 10px;
						min-width: 170px;
						background-color: #fff;
						background-image: -webkit-linear-gradient(white, #f2f2f2);
						background-image: linear-gradient(white, #f2f2f2);
						border-radius: 5px;
						box-shadow: rgba(0, 0, 0, 0.15) 0 0 4px;
						border: 1px solid #ccc;
						z-index: 999;
						position: absolute;
						font-family: 'Source Sans Pro', sans-serif;
						font-size: 13px;
						font-weight: 900;
						display: block;

						&:hover {
							border-color: #000;
						}

						&:before {
							content: '';
							display: block;
							background: #f2f2f2;
							border: 1px solid #888;
							border-top: none;
							border-left: none;
							transform: rotate(45deg);
							width: 10px;
							height: 10px;
							left: 18px;
							position: absolute;
							bottom: -6px;
							margin: auto;
						}

						&:after {
							content: '\f0da';
							display: block;
							-ms-transform: rotate(45deg);
							position: absolute;
							top: 9px;
							-webkit-transition: .25s border-color linear;
							transition: .25s border-color linear;
							font-family: 'fontawesome';
							color: #ccc;
							right: 11px;
							font-size: 16px;
						}

						span.details {
						    position: absolute;
						    left: 55px;
						    top: 11px;
						}
					}
				}
			}

			#graph {

				@media screen and (max-width: 1000px) {
					width: 499px;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
				}

				@media screen and (max-width: 520px) {
					width: 400px;
					padding: 17px 0;
				}

				@media screen and (max-width: 420px) {
					width: 100%;
				}
			}

			#chart {
				width: 499px;
				height: 349px;
				margin: 0;
				display: block;
				float: left;
				position: relative;
				background: #fff;
				padding: 36px 52px;
				border-radius: 2px;
				box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
				border-right: 3px solid #ddd;
				border-bottom: 3px solid #ddd;
				margin-left: 64px;

				@media screen and (max-width: 1000px) {
					margin-bottom: 35px;
					margin-left: 0;
				}

				@media screen and (max-width: 520px) {
					width: 400px;
					height: 280px;
					padding: 17px 32px;
					float: none;
					margin-left: auto;
					margin-right: auto;
				}

				@media screen and (max-width: 420px) {
					width: 320px;
					height: 302px;
					padding: 17px 21px;
				}

				h3 {
					font-family: 'kghappysolid', sans-serif;
					text-shadow: 1px 1px 0 #ddd;
					text-transform: uppercase;
					font-size: 17px;
					margin: 0;
					color: #333;
					line-height: 15px;

					span.smaller {
						font-size: 11px;
						margin-left: 2px;
						color: #dbdbdb;
						text-shadow: none;
						font-family: 'Source Sans Pro', sans-serif;
						font-weight: 900;
					}
				}

				#bars {
					list-style-type: none;
					display: inline-block;
					background: transparent;
					width: 408px;
					height: 254px;
					padding: 0;
					margin: -30px 0 0 0;
					box-shadow: 0px 1px 0px #dbdbdb;
					border-bottom: 11px solid #ebebeb;

					@media screen and (max-width: 520px) {
						width: 100%;
						height: 223px;
					}

					li {
					  display: table-cell;
					  width: 100px;
					  height: 249px;
					  margin: 0;
					  text-align: center;
					  position: relative;

					  @media screen and (max-width: 520px) {
					  	width: 40px;
						height: 218px;
					  }

					  @media screen and (max-width: 420px) {
					  	width: 33px;
					  }

						.bar.pounds {
							display: block;
							width: 40px;
							margin-left: 9px;
							background: #a4e617;
							position: absolute;
							bottom: 0;
							border-radius: 3px 3px 0 0;
							border-right: 2px solid #84ba0f;

							@media screen and (max-width: 520px) {
								width: 40px;
							}

							@media screen and (max-width: 420px) {
								width: 33px;
							}

							&:hover {
								background: #a4e617;
								cursor: pointer;
							}

							&.pounds12:hover:before {
								font-family: 'Source Sans Pro', sans-serif;
								font-size: 11px;
								font-weight: 900;
								color: #333;
								content: attr(data-percentage) '10,000 Pounds';
								position: absolute;
								bottom: 20px;
								left: -20px;
								content: '273 Pounds';
								background: #f5f5f5;
								padding: 6px 0;
								box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
								border-radius: 3px;
								border-right: 1px solid #ebebeb;
								border-bottom: 1px solid #ebebeb;
								width: 100px;
								z-index: 999;
								text-align: center;
							}

							&.pounds13:hover:before {
								font-family: 'Source Sans Pro', sans-serif;
								font-size: 11px;
								font-weight: 900;
								color: #333;
								content: attr(data-percentage) '10,000 Pounds';
								position: absolute;
								top: -33px;
								left: -20px;
								content: '639 Pounds';
								background: #f5f5f5;
								padding: 6px 0;
								box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
								border-radius: 3px;
								border-right: 1px solid #ebebeb;
								border-bottom: 1px solid #ebebeb;
								width: 100px;
								z-index: 999;
								text-align: center;
							}

							&.pounds14:hover:before {
								font-family: 'Source Sans Pro', sans-serif;
								font-size: 11px;
								font-weight: 900;
								color: #333;
								content: attr(data-percentage) '10,000 Pounds';
								position: absolute;
								top: -33px;
								left: -20px;
								content: '1,572 Pounds';
								background: #f5f5f5;
								padding: 6px 0;
								box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
								border-radius: 3px;
								border-right: 1px solid #ebebeb;
								border-bottom: 1px solid #ebebeb;
								width: 100px;
								z-index: 999;
								text-align: center;
							}

							&.pounds15:hover:before {
								font-family: 'Source Sans Pro', sans-serif;
								font-size: 11px;
								font-weight: 900;
								color: #333;
								content: attr(data-percentage) '10,000 Pounds';
								position: absolute;
								top: -33px;
								left: -25px;
								content: '9,237 Pounds';
								background: #f5f5f5;
								padding: 6px 0;
								box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
								border-radius: 3px;
								border-right: 1px solid #ebebeb;
								border-bottom: 1px solid #ebebeb;
								width: 100px;
								z-index: 999;
								text-align: center;
							}
						}

						.bar.kids {
							display: block;
							width: 40px;
							margin-left: 0px;
							background: #3db8ff;
							position: absolute;
							bottom: 0;
							border-radius: 3px 3px 0 0;
							border-right: 2px solid #2883b8;

							@media screen and (max-width: 520px) {
								width: 40px;
							}

							@media screen and (max-width: 420px) {
								width: 33px;
							}

							&:hover {
								background: #3db8ff;
								cursor: pointer;
							}

							&.kids12:hover:before {
								font-family: 'Source Sans Pro', sans-serif;
								font-size: 11px;
								font-weight: 900;
								color: #333;
								content: attr(data-percentage) '%';
								position: absolute;
								top: -33px;
								left: -20px;
								content: '383 Kids';
								background: #f5f5f5;
								padding: 6px 0;
								box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
								border-radius: 3px;
								border-right: 1px solid #ebebeb;
								border-bottom: 1px solid #ebebeb;
								width: 95px;
								z-index: 999;
								text-align: center;
							}

							&.kids13:hover:before {
								font-family: 'Source Sans Pro', sans-serif;
								font-size: 11px;
								font-weight: 900;
								color: #333;
								content: attr(data-percentage) '%';
								position: absolute;
								top: -33px;
								left: -20px;
								content: '900 Kids';
								background: #f5f5f5;
								padding: 6px 0;
								box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
								border-radius: 3px;
								border-right: 1px solid #ebebeb;
								border-bottom: 1px solid #ebebeb;
								width: 95px;
								z-index: 999;
								text-align: center;
							}

							&.kids14:hover:before {
								font-family: 'Source Sans Pro', sans-serif;
								font-size: 11px;
								font-weight: 900;
								color: #333;
								content: attr(data-percentage) '%';
								position: absolute;
								top: -33px;
								left: -20px;
								content: '2,016 Kids';
								background: #f5f5f5;
								padding: 6px 0;
								box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
								border-radius: 3px;
								border-right: 1px solid #ebebeb;
								border-bottom: 1px solid #ebebeb;
								width: 95px;
								z-index: 999;
								text-align: center;
							}

							&.kids15:hover:before {
								font-family: 'Source Sans Pro', sans-serif;
								font-size: 11px;
								font-weight: 900;
								color: #333;
								content: attr(data-percentage) '%';
								position: absolute;
								top: -33px;
								left: -20px;
								content: '44,854 Kids';
								background: #f5f5f5;
								padding: 6px 0;
								box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
								border-radius: 3px;
								border-right: 1px solid #ebebeb;
								border-bottom: 1px solid #ebebeb;
								width: 95px;
								z-index: 999;
								text-align: center;
							}
						}

						span {
							color: #333;
							width: 100%;
							position: absolute;
							bottom: -2em;
							left: 0;
							text-align: center;
							font-family: 'kghappysolid', sans-serif;
							left: 23px;
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 18px;
							font-style: italic;
							font-weight: 700;
						}
					}
				}

				.legend {
					position: absolute;
					top: 105px;
					left: 49px;
					padding: 10px 23px;
					border-radius: 4px;
					
					@media screen and (max-width: 520px) {
						top: 80px;
						left: 40px;
					}

				    p {
				    	font-size: 14px;
				    	font-weight: 400;
				    	color: #333;
				    	margin: 11px 0;
				    	font-style: italic;
				    	text-align: center;

				    	span.pounds {
				    		background: #a4e617;
						    padding: 1px 10px;
						    margin-right: 10px;
						    border-radius: 3px;
						    border-bottom: 1px solid #84ba0f;
		    				border-right: 1px solid #84ba0f;
						}

						span.kids { 
				    		background: #3db8ff;
						    padding: 1px 10px;
						    margin-right: 10px;
						    border-radius: 3px;
						    border-bottom: 1px solid #2883b8;
		    				border-right: 1px solid #2883b8;
						}
				    }
				}
			}
		}
	}
}