


// sponsors-section.scss



.sponsors-section {
	max-width: 1000px;
	margin: 60px auto;

	h2 {
		font-family: 'kghappysolid', sans-serif;
		font-size: 28px;
		text-shadow: -2px 2px 0 #dcdcdc;
		margin: 0 0 30px;
		text-align: center;

		@media screen and (max-width: 550px) {
			font-size: 24px;
		}

		@media screen and (max-width: 450px) {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			line-height: 36px;
		}
	}

	p {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 17px;
		font-weight: 300;
		line-height: 30px;
		width: 70%;
		margin: 0 auto 25px;
		text-align: center;

		@media screen and (max-width: 500px) {
			width: 75%;
		}
	}

	a.sponsor {
	    width: 90px;
	    height: 90px; 
	    display: inline-block;
	    margin: 15px 17px;
	    border: 1px solid transparent;
	   	box-shadow: 1px 1px 1px transparent;
	   	border-radius: 3px;
	   	padding: 5px;

	    &:hover {
	    	width: 98px;
	    	height: 98px;
	    	margin: 11px 13px;
	    	border: 1px solid #ebebeb;
	    	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	    }

	    img {
		    width: 100%;
		}
	}

	.panel.panel-default {
	    border: none;
	    box-shadow: none;
	}

	div#headingOne {
	    background: #fff;
	}

	h4.panel-title {
	    font-family: 'kghappysolid', sans-serif;
	    font-size: 17px;
	    text-shadow: -1px 1px 0 #ccc;

	    a {

	    	&:hover, &:focus, &:active {
	    		text-decoration: none;
	    	}
	    }

	    a[aria-expanded="false"]:before {
			position: relative;
			content: 'See More';
			/*font-family: 'fontawesome';*/
			/*margin-left: 10px;*/
			/*font-size: 19px;*/
			/*margin-top: -1px;*/
	    }

	    a[aria-expanded="false"]:after {
			position: relative;
			content: '\f0da';
			font-family: 'fontawesome';
			margin-left: 1px;
			font-size: 19px;
			margin-top: 0;
			top: 1px;

			&:hover {
				font-size: 20px;
			}
	    }

	    a[aria-expanded="false"]:hover {
	    	font-size: 18px;
	    }

	    a[aria-expanded="true"]:after {
			position: absolute;
			content: '';
			font-family: 'fontawesome';
			margin-left: 10px;
			font-size: 19px;
			margin-top: -1px;
	    	
	    }
	}

	.panel-body {
	    border: none;
	}

	.panel-default>.panel-heading+.panel-collapse>.panel-body {
		border: none;
		padding: 0;
		margin-top: -30px;
	}

}






