


// stats-section.scss

/******************* FACTS/STATS BOX SECTION *******************/

.stats-section {

	.inner {
		max-width: 1000px;
		margin: 0 auto;

		@media screen and (max-width: 1000px) {
			max-width: 850px;
		}

		@media screen and (max-width: 860px) {
			max-width: 90%;
		}

		h2 {
			font-family: 'kghappysolid', sans-serif;
			font-size: 38px;
			text-shadow: -2px 2px 0 #dcdcdc;
			text-align: left;
			margin: 0 0 25px;

			@media screen and (max-width: 450px) {
				text-align: center;
			}
		}

		p {
			text-align: left;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 17px;
			font-weight: 300;
			line-height: 30px;

			@media screen and (max-width: 450px) {
				text-align: center;
			}
		}

		.facts-box {
			width: 400px;
			float: left;
			background: #f5f5f5;
			box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
			border-top: 1px solid #ebebeb;
			border-left: 1px solid #ebebeb;
			border-radius: 3px;
			padding: 21px 24px 7px 40px;
			margin-top: 37px;
			margin-right: 60px;

			@media screen and (max-width: 1000px) {
				width: 350px;
				margin-right: 40px;
			}

			@media screen and (max-width: 860px) {
				display: none;
			}

			h3 {
				font-family: 'kghappysolid', sans-serif;
				margin: 0 0 10px;
				text-shadow: 2px 2px 0 #fff;
				display: inline-block;
				padding: 0 0 4px;
				text-transform: uppercase;
				font-size: 21px;
			}

			ul {
				padding-left: 19px;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 16px;
				font-weight: 300;
				font-style: italic;
				margin-bottom: 0;

				@media screen and (max-width: 1000px) {
					font-size: 14px;
				}

				li {
				    margin: 0 0 12px;
				}
		    }
		}



		/******************* TOTAL STATS SECTION *******************/

		.total-stats {
			margin-top: 75px;

			@media screen and (max-width: 860px) {
				margin-top: 75px;
				width: 480px;
				margin: 35px auto 0;
				position: relative;
				display: block;
				height: 82px;
			}

			@media screen and (max-width: 500px) {
				width: 100%;
				height: 306px;
			}

			.pounds, .kids, .countries {
				display: inline-block;
				float: left;
				padding: 20px 17px 5px;
				border-radius: 3px;
				box-shadow: 1px 1px 1px rgba(0,0,0,0.11);

				@media screen and (max-width: 500px) {
					display: block;
					width: 75%;
					text-align: center;
					margin: 10px auto;
					float: none;
				}

				@media screen and (max-width: 450px) {
					width: 90%;
				}
			}

			.pounds, .kids {
				margin-right: 15px;

				@media screen and (max-width: 1000px) {
					margin-right: 9px;
				}

				@media screen and (max-width: 500px) {
					margin-right: auto;
				}
			}

			.pounds {
				background: #a4e617;
				border-right: 1px solid #84ba0f;
				border-bottom: 1px solid #84ba0f;

				span.category {
					color: #84ba0f;
				}
			}

			.kids {
				background: #3db8ff;
				border-right: 1px solid #2883b8;
				border-bottom: 1px solid #2883b8;

				span.category {
					color: #2883b8;
				}
			}

			.countries {
				background: #eee;
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #ddd;

				span.category {
					color: #444;
				}
			}

			h4 {
				font-family: 'kghappysolid', sans-serif;
				font-size: 42px;
				line-height: 24px;
				color: #fff;
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
				margin: 0;

				@media screen and (max-width: 1000px) {
					font-size: 38px;
				}

				span.category {
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 16px;
					font-weight: 900;
					text-shadow: none;

					@media screen and (max-width: 1000px) {
						font-size: 14px;
					}
				}
			}
		}


		/******************* BAR CHART SECTION *******************/

		#chart {
			width: 410px;
			height: 300px;
			margin: 85px 0 0 75px;
			display: block;
			float: left;
			position: relative;

			@media screen and (max-width: 860px) {
				margin: 98px auto 0;
				float: none;
			}

			@media screen and (max-width: 500px) {
				margin-top: 20px;
			}

			@media screen and (max-width: 450px) {
				display: none;
			}

			h3 {
				font-family: 'kghappysolid', sans-serif;
				text-shadow: 1px 1px 0 #ddd;
				text-transform: uppercase;
				font-size: 17px;
				margin: 0;
				color: #333;
				line-height: 15px;

				span.smaller {
					font-size: 11px;
					margin-left: 2px;
					color: #dbdbdb;
					text-shadow: none;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 900;
				}
			}

			#bars {
				list-style-type: none;
				display: inline-block;
				background: transparent;
				width: 408px;
				height: 254px;
				padding: 0;
				margin: -30px 0 0 0;
				box-shadow: 0px 1px 0px #dbdbdb;
				border-bottom: 11px solid #ebebeb;

				li {
				  display: table-cell;
				  width: 100px;
				  height: 249px;
				  margin: 0;
				  text-align: center;
				  position: relative;

					.bar.pounds {
						display: block;
						width: 40px;
						margin-left: 9px;
						background: #a4e617;
						position: absolute;
						bottom: 0;
						border-radius: 3px 3px 0 0;
						border-right: 2px solid #84ba0f;

						&:hover {
							background: #a4e617;
							cursor: pointer;
						}

						&.pounds12:hover:before {
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 11px;
							font-weight: 900;
							color: #333;
							content: attr(data-percentage) '10,000 Pounds';
							position: absolute;
							bottom: 20px;
							left: -20px;
							content: '273 Pounds';
							background: #f5f5f5;
							padding: 6px 0;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
							border-radius: 3px;
							border-right: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							/*text-shadow: 1px 1px 0 #fff;*/
							width: 100px;
							z-index: 999;
							text-align: center;
						}

						&.pounds13:hover:before {
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 11px;
							font-weight: 900;
							color: #333;
							content: attr(data-percentage) '10,000 Pounds';
							position: absolute;
							top: -33px;
							left: -20px;
							content: '639 Pounds';
							background: #f5f5f5;
							padding: 6px 0;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
							border-radius: 3px;
							border-right: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							/*text-shadow: 1px 1px 0 #fff;*/
							width: 100px;
							z-index: 999;
							text-align: center;
						}

						&.pounds14:hover:before {
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 11px;
							font-weight: 900;
							color: #333;
							content: attr(data-percentage) '10,000 Pounds';
							position: absolute;
							top: -33px;
							left: -20px;
							content: '1,572 Pounds';
							background: #f5f5f5;
							padding: 6px 0;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
							border-radius: 3px;
							border-right: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							/*text-shadow: 1px 1px 0 #fff;*/
							width: 100px;
							z-index: 999;
							text-align: center;
						}

						&.pounds15:hover:before {
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 11px;
							font-weight: 900;
							color: #333;
							content: attr(data-percentage) '10,000 Pounds';
							position: absolute;
							top: -33px;
							left: -25px;
							content: '9,237 Pounds';
							background: #f5f5f5;
							padding: 6px 0;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
							border-radius: 3px;
							border-right: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							/*text-shadow: 1px 1px 0 #fff;*/
							width: 100px;
							z-index: 999;
							text-align: center;
						}
					}

					.bar.kids {
						display: block;
						width: 40px;
						margin-left: 0px;
						background: #3db8ff;
						position: absolute;
						bottom: 0;
						border-radius: 3px 3px 0 0;
						border-right: 2px solid #2883b8;

						&:hover {
							background: #3db8ff;
							cursor: pointer;
						}

						&.kids12:hover:before {
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 11px;
							font-weight: 900;
							color: #333;
							content: attr(data-percentage) '%';
							position: absolute;
							top: -33px;
							left: -20px;
							content: '383 Kids';
							background: #f5f5f5;
							padding: 6px 0;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
							border-radius: 3px;
							border-right: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							/*text-shadow: 1px 1px 0 #fff;*/
							width: 95px;
							z-index: 999;
							text-align: center;
						}

						&.kids13:hover:before {
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 11px;
							font-weight: 900;
							color: #333;
							content: attr(data-percentage) '%';
							position: absolute;
							top: -33px;
							left: -20px;
							content: '900 Kids';
							background: #f5f5f5;
							padding: 6px 0;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
							border-radius: 3px;
							border-right: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							/*text-shadow: 1px 1px 0 #fff;*/
							width: 95px;
							z-index: 999;
							text-align: center;
						}

						&.kids14:hover:before {
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 11px;
							font-weight: 900;
							color: #333;
							content: attr(data-percentage) '%';
							position: absolute;
							top: -33px;
							left: -20px;
							content: '2,016 Kids';
							background: #f5f5f5;
							padding: 6px 0;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
							border-radius: 3px;
							border-right: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							/*text-shadow: 1px 1px 0 #fff;*/
							width: 95px;
							z-index: 999;
							text-align: center;
						}

						&.kids15:hover:before {
							font-family: 'Source Sans Pro', sans-serif;
							font-size: 11px;
							font-weight: 900;
							color: #333;
							content: attr(data-percentage) '%';
							position: absolute;
							top: -33px;
							left: -20px;
							content: '44,854 Kids';
							background: #f5f5f5;
							padding: 6px 0;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
							border-radius: 3px;
							border-right: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							/*text-shadow: 1px 1px 0 #fff;*/
							width: 95px;
							z-index: 999;
							text-align: center;
						}
					}

					span {
						color: #333;
						width: 100%;
						position: absolute;
						bottom: -2em;
						left: 0;
						text-align: center;
						font-family: 'kghappysolid', sans-serif;
						left: 23px;
						font-family: 'Source Sans Pro', sans-serif;
						font-size: 18px;
						font-style: italic;
						font-weight: 700;
					}
				}
			}

			.legend {
				position: absolute;
				top: 50px;
				left: 0px;
				padding: 10px 23px;
				/* background: #f5f5f5; */
				border-radius: 4px;
				/* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); */

			    p {
			    	font-size: 14px;
			    	font-weight: 400;
			    	color: #333;
			    	margin: 4px 0;
			    	font-style: italic;
			    	text-align: center;

			    	span.pounds {
			    		background: #a4e617;
					    padding: 1px 10px;
					    margin-right: 10px;
					    border-radius: 3px;
					    border-bottom: 1px solid #84ba0f;
	    				border-right: 1px solid #84ba0f;
					}

					span.kids { 
			    		background: #3db8ff;
					    padding: 1px 10px;
					    margin-right: 10px;
					    border-radius: 3px;
					    border-bottom: 1px solid #2883b8;
	    				border-right: 1px solid #2883b8;
					}
			    }
			}
		}
	}
}

/******************* MAP SECTION *******************/

#map-section {
	width: 100%;
	padding: 35px 0 40px;
	margin: 0;
	background: #3db8ff;
	margin-top: 40px;
    box-shadow: 0 -2px 1px #34a1e0, 0 2px 1px #34a1e0;
    background: url("images/waves.png") repeat;

    @media screen and (max-width: 450px) {
    	margin-top: 0px;
    	padding-top: 15px;
    }

	h2 {
		text-align: center;
		font-family: 'kghappysolid', sans-serif;
		font-size: 22px;
		margin: 0 0 30px;
		padding: 18px 0;
		border-radius: 0 0 5px 5px;
		text-transform: uppercase;
		color: #2883B8;
		color: #333;
		text-shadow: -2px 2px 0 #34a1e0;

		@media screen and (max-width: 400px) {
			font-size: 17px;
			margin-top: 0px;
		}
	}

	.inner {
    	margin: 0 auto;
   		 width: 680px;

   		 @media screen and (max-width: 700px) {
   		 	width: 95%;
   		 	text-align: center;
   		 }

		.map {
			position: relative;
			width: 680px;
			float: left;

			@media screen and (max-width: 700px) {
				width: 100%;
				float: none;
				margin: 0 auto;
			}

			.markers {
				position: absolute;
			    width: 660px;
			    height: 365px;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;

			    @media screen and (max-width: 700px) {
			    	display: none;
			    }


				span.location {
					width: 20px;
					height: 30px;
					background: url("images/logoSimple2.png") no-repeat;
					background-size: 100%;
					background-position: center center;
					padding: 15px 10px;
					position: absolute;

					&:hover .location-box {
						visibility: visible;
						text-decoration: none;
						border-color: #888;
					}
				}

				span.bostonMA {
				    top: 68px;
				    left: 152px;
				}

				span.brazil {
					top: 215px;
					left: 195px;
				}

				span.california {
					top: 85px;
					left: 35px;
				}

				span.cambodia {
				    top: 147px;
				    right: 88px;
				}

				span.chicagoIL {
				    top: 48px;
				    left: 136px;
				}

				span.dominicanRepublic {
				    top: 127px;
				    left: 163px;

					.location-box {
						min-width: 223px;
					}
				}

				span.elSalvador {
				    top: 139px;
				    left: 85px;
				}

				span.ethiopia {
					top: 159px;
					left: 376px;
				}

				span.grenada {
					top: 155px;
    				left: 168px;
				}

				span.guam {
					top: 158px;
					right: 30px;
				}

				span.guatemala {
			    	top: 133px;
    				left: 66px;
				}

				span.haiti {
				    top: 140px;
				    left: 145px;
				}

				span.india {
				    top: 145px;
   					right: 152px;
				}

				span.jamaica {
					top: 135px;
					left: 125px;
				}

				span.kenya {
				    top: 173px;
				    left: 394px;
				}

				span.liberia {
				    top: 157px;
				    left: 274px;
				}

				span.milwaukeeWI {
	   				top: 43px;
    				left: 117px;

					.location-box {
						min-width: 184px;
					}
				}

				span.morocco {
				    top: 109px;
				    left: 281px;
				}

				span.nicaragua {
				    top: 150px;
				    left: 104px;
				}

				span.nigeria {
					top: 157px;
					left: 311px;
				}

				span.philadelphiaPA {
				    top: 79px;
				    left: 135px;

					.location-box {
						min-width: 202px;
					}
				}

				span.philippines {
					top: 153px;
				    right: 53px;
				}

				span.puertoRico {
					top: 158px;
					left: 190px;
				}

				span.queensNY {
				    top: 64px;
				    left: 172px;
				}

				span.redLakeMN {
				    top: 36px;
				    left: 97px;
				}

				span.romania {
					top: 63px;
				    left: 348px;
				}

				span.rwanda {
					top: 192px;
					left: 357px;
				}

				span.tanzania {
					top: 198px;
					left: 379px;
				}

				span.uganda {
					top: 160px;
					left: 355px;
				}

				span.ukraine {
   					top: 55px;
    				left: 367px;
				}

				span.unitedArabEmirates {
					top: 133px;
					left: 414px;

					.location-box {
						min-width: 229px;
					}
				}

				span.whiteriverAZ {
					top: 89px;
					left: 57px;

					.location-box {
						min-width: 186px;
					}
				}

				span.zambia {
					top: 224px;
					left: 365px;
				}

				.location-box {
					color: #333;
					visibility: hidden;
					text-transform: uppercase;
					top: -48px;
					left: -13px;
					padding: 10px;
					min-width: 170px;
					background-color: #fff;
					background-image: -webkit-linear-gradient(white, #f2f2f2);
					background-image: linear-gradient(white, #f2f2f2);
					border-radius: 5px;
					box-shadow: rgba(0, 0, 0, 0.15) 0 0 4px;
					border: 1px solid #ccc;
					z-index: 999;
					position: absolute;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 13px;
					font-weight: 900;
					display: block;

					&:hover {
						border-color: #000;
					}

					&:before {
						content: '';
						display: block;
						background: #f2f2f2;
						border: 1px solid #888;
						border-top: none;
						border-left: none;
						transform: rotate(45deg);
						width: 10px;
						height: 10px;
						left: 18px;
						position: absolute;
						bottom: -6px;
						margin: auto;
					}

					&:after {
						/*content: '';
						display: block;
						border: 3px solid #ccc;
						border-left: none;
						border-bottom: none;
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						width: 6px;
						height: 6px;
						position: absolute;
						top: 5px;
						left: 140px;
						-webkit-transition: .25s border-color linear;
						transition: .25s border-color linear;*/

						content: '\f0da';
						display: block;
						/* border: 3px solid #ccc; */
						/* border-left: none; */
						/* border-bottom: none; */
						/* -webkit-transform: rotate(45deg); */
						-ms-transform: rotate(45deg);
						/* transform: rotate(45deg); */
						/* width: 8px; */
						/* height: 8px; */
						position: absolute;
						top: 9px;
						/* left: 148px; */
						-webkit-transition: .25s border-color linear;
						transition: .25s border-color linear;
						font-family: 'fontawesome';
						color: #ccc;
						right: 11px;
						font-size: 16px;
					}

					span.details {
					    position: absolute;
					    left: 55px;
					    top: 11px;
					}
				}
			}

			img.big, img.little {
				width: 100%;
				margin: 0 auto;
			}

			img.big {

				@media screen and (max-width: 700px) {
					display: none;
				}
			}

			img.little {
				display: none;

				@media screen and (max-width: 700px) {
					display: inline-block;
				}
			}
		}

		.right-sidebar {
			display: inline-block;
			float: left;
			position: relative;
			width: 340px;
			padding-left: 30px;
			margin-top: 20px;

			a {
				display: block;
				font-family: 'kghappysolid', sans-serif;
				padding: 30px 24px;
				background: #f5f5f5;
				border-radius: 3px;
				margin: 10px 0;
				color: #fff;
				text-align: center;
			}

			a.recipient {
				background: url('images/recipientList.jpg') no-repeat;
				background-size: cover;
				background-position: center;
				position: relative;


				&:after {
					position: absolute;
					width: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0,0,0,0.3);
					content: '';
				}
			}
		}
	}
}